[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/boban/Desktop/EMILIE]
row=8
col=0

[/home/boban/Desktop/cv_it_bob]
row=0
col=12

[/home/boban/Desktop/veiling_foto]
row=1
col=1

[/home/boban/Desktop/output_printer.pdf]
row=11
col=0

[/home/boban/Desktop/sali_ok.pdf]
row=12
col=0

[/home/boban/Desktop/output_printer3.pdf]
row=10
col=0

[/home/boban/Desktop/Untitled 1.ods]
row=9
col=0

[/home/boban/Desktop/markplaats]
row=0
col=1

[B04AAA9F4AAA6238]
row=3
col=0

[a5edbe7b-43cd-43c6-84f4-3657a5e5b491]
row=6
col=0

[E024A81B24A7F2A8]
row=2
col=0

[318e82d3-6b06-442a-bc30-8767b28360f0]
row=4
col=0

[8143dcc6-a85b-46ed-a8cb-c16b115ff839]
row=5
col=0

[Trash]
row=1
col=0

[/]
row=0
col=0

[/home/boban]
row=7
col=0

