[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/boban/Desktop/frans_burgas]
row=2
col=11

[/home/boban/Desktop/drawing.svg]
row=2
col=9

[/home/boban/Desktop/inkscape]
row=2
col=6

[/home/boban/Desktop/marktplaats_verkoop]
row=2
col=4

[/home/boban/Desktop/optical_illusions]
row=2
col=7

[/home/boban/Desktop/posicle.svg]
row=2
col=8

[/home/boban/Desktop/lightdm]
row=7
col=0

[B04AAA9F4AAA6238]
row=3
col=0

[b83c1c26-a478-4672-a7e8-f4788c7ec955]
row=5
col=0

[E024A81B24A7F2A8]
row=2
col=0

[318e82d3-6b06-442a-bc30-8767b28360f0]
row=4
col=0

[Trash]
row=1
col=0

[/]
row=0
col=0

[/home/boban]
row=6
col=0

