[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/boban/Desktop/Install_thunar_patched]
row=3
col=1

[/home/boban/Desktop/mysqli_connect.php]
row=12
col=0

[/home/boban/Desktop/elefant_black_security]
row=4
col=1

[/home/boban/Desktop/context.inc]
row=10
col=0

[/home/boban/Desktop/elefant_red_logo]
row=6
col=1

[/home/boban/Desktop/bluefish_snippets]
row=9
col=1

[/home/boban/Desktop/dropcaps]
row=0
col=2

[/home/boban/Desktop/find_copy_img2dir.md]
row=10
col=1

[/home/boban/Desktop/export-layers-to-pdf.py_FILE_NOT_SAVED]
row=13
col=0

[/home/boban/Desktop/Order Information _ sintech adapter shop.pdf]
row=8
col=0

[/home/boban/Desktop/P788768_jvanvliet_aanbod_alfabet.ods]
row=11
col=0

[/home/boban/Desktop/responsive_learnwebcode_yt]
row=1
col=2

[/home/boban/Desktop/hack_z800_diy.md]
row=11
col=1

[/home/boban/Desktop/gallery_bashgal]
row=2
col=2

[/home/boban/Desktop/dropcaps2]
row=7
col=1

[/home/boban/Desktop/markplaats]
row=1
col=1

[/home/boban/Desktop/mysql_connect.php]
row=9
col=0

[/home/boban/Desktop/hoogslaper_schilte_M5031.png]
row=8
col=1

[/home/boban/Desktop/veiling_docs]
row=2
col=1

[/home/boban/Desktop/P788768_jvanvliet_aanbod.ods]
row=0
col=1

[/home/boban/Desktop/tux_example_tabs]
row=5
col=1

[/home/boban/Desktop/pdfextractor]
row=12
col=1

[/home/boban/Desktop/presentatie_whatsapp.pdf]
row=13
col=1

[B04AAA9F4AAA6238]
row=3
col=0

[a5edbe7b-43cd-43c6-84f4-3657a5e5b491]
row=1
col=0

[E024A81B24A7F2A8]
row=4
col=0

[318e82d3-6b06-442a-bc30-8767b28360f0]
row=2
col=0

[8143dcc6-a85b-46ed-a8cb-c16b115ff839]
row=0
col=0

[Trash]
row=5
col=0

[/]
row=6
col=0

[/home/boban]
row=7
col=0

