[samsung_galaxys3]
row=1
col=7

[untitled]
row=0
col=1

[105 MB Volume]
row=2
col=0

[backup_disk]
row=4
col=0

[study]
row=6
col=0

[250 GB Volume]
row=3
col=0

[docs]
row=5
col=0

[backup]
row=7
col=0

[Trash]
row=1
col=0

[File System]
row=0
col=0

